<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th><button type="button" class="btn btn-success" [routerLink]="['/add-card']">Añadir
                                carta</button>
                        </th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-warning" [routerLink]="['/cards']">Ver cartas</button>
                        </th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-success" [routerLink]="['/add-deck']">Añadir
                                mazo</button>
                        </th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-warning">Ver mazos</button></th>
                    </tr>
                    <tr>
                        <th><button>Nuevo mazo</button></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>